<a href="https://colab.research.google.com/github/MatheusOrange211/Bootcamp-Alura/blob/main/Bootcamp_Alura_Data_Science_IBGE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ANALISANDO DADOS DO PenSE- IBGE

>estudando **ESTAT√çSTICA** e usando a **Pesquisa Nacional de Sa√∫de do Escolar** de **2015** dispon√≠vel no site do [IBGE](https://www.ibge.gov.br/estatisticas/downloads-estatisticas.html?caminho=pense/2015/microdados/)<br>

Autor: Matheus Naranjo Corr√™a

* [Linkedln](https://www.linkedin.com/in/matheus-naranjo-35ab22188/)
* [Github](https://github.com/MatheusOrange211)



**O que √© o PenSE 2015** ?
>Investiga informa√ß√µes que permitem conhecer e dimensionar os fatores de risco e prote√ß√£o √† sa√∫de dos adolescentes. A pesquisa √© realizada por amostragem, utilizando como refer√™ncia para sele√ß√£o o cadastro das escolas p√∫blicas e privadas do Instituto Nacional de Estudos e Pesquisas Educacionais An√≠sio Teixeira - INEP.  
<br>
A Pesquisa Nacional de Sa√∫de do Escolar - PeNSE teve in√≠cio em 2009, fruto de parceria com o Minist√©rio da Sa√∫de e apoio do Minist√©rio da Educa√ß√£o. Na primeira edi√ß√£o, os escolares do 9o ano do ensino fundamental (antiga 8a s√©rie) das escolas p√∫blicas e privadas dos Munic√≠pios das Capitais constitu√≠ram sua popula√ß√£o-alvo. A escolha do 9o ano do ensino fundamental, cabe destacar, teve como justificativa o m√≠nimo da escolariza√ß√£o necess√°ria para responder question√°rio autoaplic√°vel e tamb√©m a proximidade da idade de refer√™ncia preconizada pela Organiza√ß√£o Mundial da Sa√∫de - OMS (World Health Organization - WHO), que √© de 13 a 15 anos.<br>
Em 2012, embora mantida sua popula√ß√£o-alvo, a PeNSE passou a abarcar dados para o conjunto do Pa√≠s e as Grandes Regi√µes, e a investigar, tamb√©m, algumas caracter√≠sticas do ambiente escolar e do entorno. Na edi√ß√£o de 2015, importantes inova√ß√µes foram introduzidas na pesquisa, dentre as quais se destaca a disponibiliza√ß√£o de informa√ß√µes oriundas de dois planos amostrais distintos: escolares frequentando o 9o ano do ensino fundamental e escolares de 13 a 17 anos de idade frequentando as etapas do 6o ao 9o ano do ensino fundamental (antigas 5a a 8a s√©ries) e da 1a a 3a s√©rie do ensino m√©dio.
<br>Mais informa√ß√µes, clique [aqui](https://www.ibge.gov.br/estatisticas/sociais/educacao/9134-pesquisa-nacional-de-saude-do-escolar.html?=&t=o-que-e)

# MODULO 4 üìô
---
**AN√ÅLISE DESCRITIVA E TESTES ESTAT√çSTICOS**

## AULA 1 : Educa√ß√£o, Sa√∫de e Tipo de dados
---

> Importando bibliotecas e dados

In [1]:
import pandas as pd
from zipfile import ZipFile #usaremos esta lib para descompactar arquivos

diferente dos outros m√≥dulos onde a gente puxava os arquivos diretamente do nosso github ou mesmo diretamente de um arquivo csv, aqui, por conta do tamanho do nosso arquivo que √© maior que o limite de commits permitido pelo github(25 Mb), teremos que fazer o upload para nosso google drive, depois, iremos criar uma conex√£o do nosso Drive com o nosso Colab. Feito isso, copiamos o caminho. Agora, temos outro desafio: nosso arquivo est√° zipado, o que significa que um simples read_csv() n√£o funcionar√°. Precisamos ent√£o descompactar ele com o zipfile.

In [2]:
caminho = '/content/drive/MyDrive/bootcamp-modulo3/PeNSE_2015_AMOSTRA2.zip'
zip = ZipFile(caminho)

Precisamos ent√£o, antes de descompactar, saber o que temos no nosso .zip, afinal, com o que trabalharemos? que dados h√° ali dentro? que tipos de extens√µes? vamos ent√£o usar **ZipFile.namelist()** para descobrir isso!

In [3]:
zip.namelist()

['arquivos csv/',
 'arquivos csv/PENSE_AMOSTRA2_ALUNO.CSV',
 'arquivos csv/PENSE_AMOSTRA2_ALUNOESCOLA.CSV',
 'arquivos csv/PENSE_AMOSTRA2_ESCOLA.CSV',
 'arquivos sas/',
 'arquivos sas/pense_amostra2_aluno.sas7bdat',
 'arquivos sas/pense_amostra2_alunoescola.sas7bdat',
 'arquivos sas/pense_amostra2_escola.sas7bdat',
 'arquivos xlsx/',
 'arquivos xlsx/PENSE_AMOSTRA2_ALUNO.xlsx',
 'arquivos xlsx/PENSE_AMOSTRA2_ALUNOESCOLA.xlsx',
 'arquivos xlsx/PENSE_AMOSTRA2_ESCOLA.xlsx',
 'Dicionario_PENSE_Microdados_AMOSTRA2.xls']

Nos √© retornada uma lista de arquivos dos quais temos a nossa disposi√ß√£o. Agora, podemos finalmente usar o read_csv do pandas. Como temos uma lista a√≠, podemos pegar o elemento de indice [1] ou [2] e por ai vai.

In [4]:
caminho_pasta_zipada = zip.namelist()[1]

#zip.open abrir√° o caminho, que est√° na variavel, que contem o nome do arquivo e a extens√£o, que ser√° lido pelo pandas.
#passamos ent√£o nosso separador, footer e outras coisas que sejam necess√°rias para leitura completa
dados = pd.read_csv(zip.open(caminho_pasta_zipada),sep=';',thousands='.',decimal=',') 
dados.head()

   ANOPESQ  PAIS  REGEOGR  VB00004  VB01001  ...  V0008  V0041  aluno  escola  turma
0     2015    76        1        1        2  ...      4      1      1       1    296
1     2015    76        1        1        2  ...      4      1      2       1    296
2     2015    76        1        1        1  ...      4      1      3       1    296
3     2015    76        1        1        1  ...      4      1      4       1    296
4     2015    76        1        1        1  ...      4      1      5       1    296

[5 rows x 181 columns]

vejamos os tipos de dados que n√≥s temos em nosso dataset

In [5]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16556 entries, 0 to 16555
Columns: 181 entries, ANOPESQ to turma
dtypes: float64(10), int64(171)
memory usage: 22.9 MB

vamos ver mais de perto essas 3 colunas reconhecidas como `object`
**Nota**: Originalmente, tinhamos 3 colunas do tipo `objects`, contudo, adicionando o `thousands` e `decimal` para converter os valores para o padr√£o americano, essas infos s√£o modificadas para float.

In [6]:
# dados.select_dtypes(include='object')

### AULA 01 - DESAFIO 01
> Descompactar a pasta zipada usando outro m√©todo (Dica Allan, √© utilizar comandos Bash)

In [7]:
!ls /content/drive/MyDrive/bootcamp-modulo3  #me retorna o arquivo dentro do diret√≥rio que est√° zipado
! unzip /content/drive/MyDrive/bootcamp-modulo3/PeNSE_2015_AMOSTRA2.zip  #descompacta o arquivo

PeNSE_2015_AMOSTRA2.zip
Archive:  /content/drive/MyDrive/bootcamp-modulo3/PeNSE_2015_AMOSTRA2.zip
   creating: arquivos csv/
  inflating: arquivos csv/PENSE_AMOSTRA2_ALUNO.CSV
  inflating: arquivos csv/PENSE_AMOSTRA2_ALUNOESCOLA.CSV
  inflating: arquivos csv/PENSE_AMOSTRA2_ESCOLA.CSV
   creating: arquivos sas/
  inflating: arquivos sas/pense_amostra2_aluno.sas7bdat
  inflating: arquivos sas/pense_amostra2_alunoescola.sas7bdat
  inflating: arquivos sas/pense_amostra2_escola.sas7bdat
   creating: arquivos xlsx/
  inflating: arquivos xlsx/PENSE_AMOSTRA2_ALUNO.xlsx
  inflating: arquivos xlsx/PENSE_AMOSTRA2_ALUNOESCOLA.xlsx
  inflating: arquivos xlsx/PENSE_AMOSTRA2_ESCOLA.xlsx
  inflating: Dicionario_PENSE_Microdados_AMOSTRA2.xls

In [8]:
!ls arquivos\ csv #o contrabarra veio por conta do espa√ßo (?), alem disso !ls lista  o conteudo de dentro do diret√≥rio 'arquivos csv'

PENSE_AMOSTRA2_ALUNO.CSV	PENSE_AMOSTRA2_ESCOLA.CSV
PENSE_AMOSTRA2_ALUNOESCOLA.CSV

In [9]:
pd.read_csv('arquivos csv/PENSE_AMOSTRA2_ALUNO.CSV',sep=';') #passo o caminho e o nome do arquivo que desejo ler!

       ANOPESQ  PAIS  REGEOGR  VB00004  ...  V0041  aluno  escola  turma
0         2015    76        1        1  ...      1      1       1    296
1         2015    76        1        1  ...      1      2       1    296
2         2015    76        1        1  ...      1      3       1    296
3         2015    76        1        1  ...      1      4       1    296
4         2015    76        1        1  ...      1      5       1    296
...        ...   ...      ...      ...  ...    ...    ...     ...    ...
16551     2015    76        5        1  ...      1  16552     371    117
16552     2015    76        5        1  ...      1  16553     371    117
16553     2015    76        5        1  ...      1  16554     371    117
16554     2015    76        5        1  ...      1  16555     371    117
16555     2015    76        5        1  ...      1  16556     371    117

[16556 rows x 181 columns]

### AULA 01 - DESAFIO 02 
> Estudar sobre a base de dados que vamos trabalhar. (PeNSE - 2015 Amostra 2)

Temos algumas informa√ß√µes interessantes nos seguintes links que nos ajudar√£o a entender melhor o funcionamento n√£o s√≥ do dataset mas tamb√©m do pr√≥prio PenSE 2015:

* [O que √©?](https://www.ibge.gov.br/estatisticas/sociais/educacao/9134-pesquisa-nacional-de-saude-do-escolar.html?=&t=o-que-e)
* [V√≠deo explicando o PenSE 2015](https://www.youtube.com/watch?v=z4BBCHZUvD4)

###AULA 01 - DESAFIO 03
> Classificar algumas perguntas como QualitativaXQuantitativa

In [10]:
%%html
<img src='https://i.ytimg.com/vi/1zy6DTHQDzM/maxresdefault.jpg' width='800px' heigth='800px'/>

**QUALITATIVAS**
√© um tipo de m√©todo de investiga√ß√£o de base lingu√≠stico-semi√≥tica usada principalmente em ci√™ncias sociais.

**QUALITATIVAS NOMINAL** 
n√£o existe ordena√ß√£o dentre as *categorias*

In [11]:
dados[['REGEOGR','VB01001','VB01002','VB04009','VB04003','VB04002','VB11001']]

       REGEOGR  VB01001  VB01002  VB04009  VB04003  VB04002  VB11001
0            1        2        1       -1       -1       -1        1
1            1        2        1       -1       -1       -1        3
2            1        1        4       -1       -1       -1        3
3            1        1        1       -1       -1       -1        3
4            1        1        1       -1       -1       -1        4
...        ...      ...      ...      ...      ...      ...      ...
16551        5        2        4       -1       -1       -1        3
16552        5        1        1       -1       -1       -1        2
16553        5        1        4       -1       -1       -1        3
16554        5        1        4       -1       -1       -1        2
16555        5        1        2       -1       -1       -1        2

[16556 rows x 7 columns]

**QUALITATIVAS ORDINAL** 
existe ordena√ß√£o dentre as *categorias*

In [12]:
dados[['VB01003','VB01004','VB01005','VB01021','VB01022','VB03011A','VB03007']]

       VB01003  VB01004  VB01005  VB01021  VB01022  VB03011A  VB03007
0           13        7        7        4        1         2        1
1           14        4        7        4        1         6        7
2           13        6        7        4        1         8        7
3           14        6        7        4        1         1       -1
4           13        9        7        4        1         2        5
...        ...      ...      ...      ...      ...       ...      ...
16551       12        8        8        3        1         5        7
16552       15        7        5        3        1         5        7
16553       13       11        7        3        1         2       -1
16554       14        8        6        3        1         3        4
16555       15        4        6        3        1         7        7

[16556 rows x 7 columns]

**QUANTITATIVAS**
>√© a pesquisa cient√≠fica na qual os resultados podem ser quantificados, diferindo da pesquisa qualitativa. A pesquisa quantitativa recorre a linguagem matem√°tica para descrever as causas de um fen√¥meno, rela√ß√µes entre vari√°veis, entre outras aplica√ß√µes.

**DISCRETAS**  quando o conjunto de resultados poss√≠veis √© finito ou enumer√°vel. Exemplo: n√∫mero de filhos, alunos numa escola etc. Cont√≠nuas: quando os valores s√£o expressos como intervalo ou uni√£o de n√∫meros reais.

In [13]:
dados[['VB01003','VB01005','VB01010A']]

       VB01003  VB01005  VB01010A
0           13        7         3
1           14        7         3
2           13        7         5
3           14        7         4
4           13        7         4
...        ...      ...       ...
16551       12        8         5
16552       15        5         4
16553       13        7         4
16554       14        6         4
16555       15        6         5

[16556 rows x 3 columns]

**CONT√çNUA** quando os valores s√£o expressos como intervalo ou uni√£o de n√∫meros reais.

In [14]:
dados[['VB01003','VB01005','VB01010A','PESO']]

       VB01003  VB01005  VB01010A        PESO
0           13        7         3  299.735235
1           14        7         3  355.170081
2           13        7         5  299.735235
3           14        7         4  355.170081
4           13        7         4  299.735235
...        ...      ...       ...         ...
16551       12        8         5  447.815539
16552       15        5         4  592.507440
16553       13        7         4  401.131512
16554       14        6         4  442.718091
16555       15        6         5  592.507440

[16556 rows x 4 columns]

##AULA 2 : Dados Qualitativos e Tabelas de Frequ√™ncias
---

Vamos fazer uma tabela de frequ√™ncia. Ver quantas vezes, determinadas perguntas foram respondidas. Qual a frequencia de alunos que responderam 'a','b','c' e por ai vai...

In [15]:
#pergunta relacionada
dados['VB01001'].value_counts()

1    8287
2    8269
Name: VB01001, dtype: int64

temos ent√£o a frequencia das nossas respostas. Essa pergunta se refere ao sexo dos estudantes (1 - Masculino, 2- Feminino). Os dados s√£o quase iguais. Usemos ent√£o o  `normalize`igual a `True` para converter as porcentagens

In [16]:
dados['VB01001'].value_counts(normalize=True) *100

1    50.054361
2    49.945639
Name: VB01001, dtype: float64

Legal! Sabemos ent√£o que a pesquisa foi bem distribu√≠da entre os estudantes. Maaaas, lembre-se, essa distribui√ß√£o a√≠ foi proposital. O que o PenSE quer √© n√£o entrar em nenhum vi√©s de confirma√ß√£o, logo √© proposital que a distribui√ß√£o seja bem feita. Contudo, quanto as respostas dos estudantes para quest√µes como  *Voc√™ est√° satisfeito com o seu corpo?*, a pesquisa n√£o possui controle e √© isso que iremos ver melhor agora.<br>
No dicion√°rio de dados temos que cada valor corresponde a:

![image.png]()
<br> Temos dados qualitativos nominal (pois temos uma ordem de preferencia: satisfeito, muito satisfeito...)

In [17]:
frequencia = dados['VB11007'].value_counts()
frequencia

2     6920
1     4608
4     2326
3     1807
5      714
99     181
Name: VB11007, dtype: int64

In [18]:
percentual = dados['VB11007'].value_counts(normalize=True) * 100
percentual

2     41.797536
1     27.832810
4     14.049287
3     10.914472
5      4.312636
99     1.093259
Name: VB11007, dtype: float64

Montamos por fim, uma estrura de DataFrame para entender melhor essas informa√ß√µes. Passamos uma estrutura de dicion√°rio onde a key s√£o o nome das colunas e os values as Series

In [19]:
respostas = {
    1: 'Muito Satisfeito (a)',
    2: 'Satisfeito (a)',
    3: 'Indiferente',
    4: 'Insatisfeito (a)',
    5: 'Muito Insatisfeito (a)',
    99: 'N√£o Informado'
}

dist_freq = pd.DataFrame({"frequencia":frequencia,"percentual":percentual})
dist_freq.rename(index = respostas, inplace = True) #substituindo os valores pelos nomes
dist_freq.rename_axis("Como voc√™ se sente em rela√ß√£o ao seu corpo?",axis=1,inplace=True) #dando um nome para o nosso index
dist_freq

Como voc√™ se sente em rela√ß√£o ao seu corpo?  frequencia  percentual
Satisfeito (a)                                     6920   41.797536
Muito Satisfeito (a)                               4608   27.832810
Insatisfeito (a)                                   2326   14.049287
Indiferente                                        1807   10.914472
Muito Insatisfeito (a)                              714    4.312636
N√£o Informado                                       181    1.093259

###AULA 02 - DESAFIO 01 <br>
>Criar uma fun√ß√£o para gerar as tabelas de frequ√™ncia e fazer a an√°lise de outras informa√ß√µes. Compartilhar no discord suas an√°lises

In [20]:
def tab_freq(dataset : pd.DataFrame, dicionario : dict = None, titulo_index : str = None):
  frequencia = dataset.value_counts()
  percentual = dataset.value_counts(normalize=True) *100
  dataset_final = pd.DataFrame({"Frequencia": frequencia, "Percentual": percentual})

  if dicionario:
    dataset_final.rename(index=dicionario, inplace =True)
  
  if titulo_index:
    dataset_final.rename_axis(titulo_index,axis=1,inplace=True)
  return dataset_final

In [21]:
respostas1 = {
    1: 'Muito Importante',
    2: 'Importante',
    3: 'Pouco Importante',
    4: 'Sem Import√¢ncia',
    99: 'N√£o Informado'
}
teste1 = tab_freq(dados["VB11006"],respostas1,"Voc√™ considera sua imagem corporal como sendo algo")
teste1

Voc√™ considera sua imagem corporal como sendo algo  Frequencia  Percentual
Muito Importante                                          7102   42.896835
Importante                                                6604   39.888862
Pouco Importante                                          1969   11.892969
Sem Import√¢ncia                                            726    4.385117
N√£o Informado                                              155    0.936216

In [24]:
respostas2 = {
    -1: "Pulo no question√°rio",
    1: "Apoio para controle de peso (ganhar ou perder)",
    2: "Apoio para parar de fumar",
    3: "Acidente ou les√£o",
    4: "Reabilita√ß√£o ou terapia",
    5: "Doen√ßa",
    6: "Problema odontol√≥gico",
    7: "Vacina√ß√£o",
    8: "Consulta para m√©todos contraceptivos (preservativos, p√≠lula, DIU etc)",
    9: "Buscar contracep√ß√£o de emerg√™ncia (p√≠lula do dia seguinte)",
    10: "Teste para HIV, S√≠filis ou Hepatite B",
    11:"Pr√©-natal / Teste para gravidez",
    12: "Solicita√ß√£o de atestado m√©dico",
    13: "Outro",
    99: 'N√£o Informado'
}
tab_freq(dados["VB13007"],respostas2,"Qual foi o PRINCIPAL MOTIVO da sua procura na UBS")

Qual foi o PRINCIPAL MOTIVO da sua procura na UBS   Frequencia  Percentual
Pulo no question√°rio                                      5526   33.377627
Doen√ßa                                                    2642   15.957961
Apoio para controle de peso (ganhar ou perder)            2171   13.113071
Vacina√ß√£o                                                 2018   12.188935
Outro                                                     1994   12.043972
Acidente ou les√£o                                          680    4.107272
Problema odontol√≥gico                                      444    2.681807
Solicita√ß√£o de atestado m√©dico                             296    1.787871
N√£o Informado                                              235    1.419425
Consulta para m√©todos contraceptivos (preservat...         168    1.014738
Apoio para parar de fumar                                  144    0.869775
Reabilita√ß√£o ou terapia                                     89    0.537569
Teste para HIV, S√≠filis ou Hepatite B                       80    0.483209
Buscar contracep√ß√£o de emerg√™ncia (p√≠lula do di...          46    0.277845
Pr√©-natal / Teste para gravidez                             23    0.138922

##AULA 03 - Frequ√™ncia em Dados Cont√≠nuos e Pandas Crosstab
---

Continuando nossas an√°lises, vamos ver uma coluna que trata das alturas dos alunos. Esse tipo de informa√ß√£o n√£o cont√©m, diferente de outros casos, uma "classifica√ß√£o". E agora ? que coisas podemos fazer?

In [25]:
dados['VB17004']

0        157.0
1        152.0
2        161.4
3        172.5
4        167.5
         ...
16551    167.9
16552    185.8
16553    159.4
16554    157.8
16555    163.9
Name: VB17004, Length: 16556, dtype: float64

Vamos calcular o IMC? n√£o temos muito o que fazer s√≥ com a altura, mas analisando o peso por exemplo, podemos calcular o imc, cuja f√≥rmula √©:

\begin{equation}
IMC =\dfrac{PESO}{ALTURA ^2}
\end{equation}
<br>
Lembrando que no IMC, calculamos a altura em metros. Nossa coluna est√° em centr√≠metros, logo, dividiremos por 100.

In [26]:
dados['IMC'] = dados['VB17003'] / ((dados['VB17004'] / 100) **2)
dados['IMC']

0        15.051321
1        21.727839
2        18.502907
3        23.322831
4        28.122076
           ...
16551    20.113223
16552    17.930782
16553    23.968489
16554    18.995343
16555    23.303246
Name: IMC, Length: 16556, dtype: float64

Muito bom! mas sabe o que seria melhor? se n√≥s tiv√©ssemos como por a qual grupo cada um dos valores pertence no imc. Com o pd.cut(), n√≥s vamos conseguir isso! Observe a explica√ß√£o do que ele faz:

> Use o cut quando voc√™ deseja  segmentar e ordenar os valores dos dados de acordo com o `bins`. Essa fun√ß√£o tamb√©m √© usada para ir de uma vari√°vel cont√≠nua para uma vari√°vel categ√≥rica. Por exemplo, por meio do **cut**, podemos converter idades em faixa et√°rias üë∂ üëß üë© üë©‚Äçü¶≥ üëµ.<br>
Abaixo, um esquema para relembrar os tipos de dados

<img src="https://static.docsity.com/documents_pages/notas/2012/11/22/2672b74e300a6c8138c474faf4be55f1.png"  width='400px' heigth='400px'>

In [28]:
classes =[0,18.5,25,30,60]
labels=["abaixo","normal","sobrepeso","obesidade"]

dados['CLASSE_IMC'] = pd.cut(x=dados['IMC'],
       bins =classes,
       labels=labels,
       include_lowest=True) #esse aqui funciona da seguinte forma: inclui o intervalo mais baixo como fechado, e o mais alto como aberto

In [29]:
dados[['IMC','CLASSE_IMC']]

             IMC CLASSE_IMC
0      15.051321     abaixo
1      21.727839     normal
2      18.502907     normal
3      23.322831     normal
4      28.122076  sobrepeso
...          ...        ...
16551  20.113223     normal
16552  17.930782     abaixo
16553  23.968489     normal
16554  18.995343     normal
16555  23.303246     normal

[16556 rows x 2 columns]

Com a fun√ß√£o criada no desafio anterior, podemos ver a frequencia e o percentual

In [32]:
tab_freq(dados['CLASSE_IMC'],None,"IMC FREQUENCIA")

IMC FREQUENCIA  Frequencia  Percentual
normal                9188   55.496497
abaixo                4975   30.049529
sobrepeso             1760   10.630587
obesidade              633    3.823387

Continuando a aula, temos que

###EXPLICA√á√ÉO MATEMATICA : REGRA DE STURGES

Esse desafio ser√° corrigido em aula, mas vamos tentar resolver antes da continua√ß√£o.
<br>
<br>
Pois bem. A chamada **Regra de Sturges** √© um crit√©rio usado para determinar o n√∫mero de classes ou intervalos necess√°rios para representar graficamente um conjunto de dados estat√≠sticos. Esta regra foi enunciada em 1926 pelo matem√°tico alem√£o Herbert Sturges.
<br>
Sturges prop√¥s um m√©todo simples, baseado no n√∫mero de amostras x que permitiria encontrar o n√∫mero de classes e seu alcance. A regra Sturges √© amplamente usada, especialmente na √°rea de estat√≠stica, especificamente para criar histogramas de frequ√™ncia.
<br>Para calcular ela, precisamos passar por algumas etapas. Primeiro temos que calcular o  valor **K** que vai ser o tamanho da nossa amostra ou n√∫mero de observa√ß√µes:

\begin{equation}
K = 1 + 3,322 \times \log_{10}({N})
\end{equation}
<br>
Nesta express√£o:

‚Äì k √© o n√∫mero de classes.

‚Äì N √© o n√∫mero total de observa√ß√µes na amostra.

‚Äì Log √© o logaritmo comum da base 10.

**NOTA**: Os resultados de **K** devem ser arredondados para **INTEIRO**

<br>
A regra Sturges √© aplicada principalmente em estat√≠stica, pois permite que seja feita uma distribui√ß√£o de frequ√™ncia atrav√©s do c√°lculo do n√∫mero de classes (k), bem como do comprimento de cada uma delas, tamb√©m conhecida como amplitude.A amplitude √© a diferen√ßa do limite superior e inferior da classe, dividida pelo n√∫mero de classes, e √© expressa:

\begin{equation}
Amplitude = \dfrac{{Limite \space Superior }-{Limite \space Inferior}}{K}
\end{equation}

Para calcular os intervalos, teremos que :

\begin{equation}
Limite\space Inferior = Limite \space Superior + 1 
\end{equation}

\begin{equation}
Limite\space Superior = Limite \space Inferior + Amplitude -  1 
\end{equation}
<br> Supondo ent√£o que nossa Amplitude = 6 , nosso limite inferior  inicial  = 13, teremos o seguinte intervalo:

\begin{equation}
Limite\space Superior = 13 + 6 -  1 
\end{equation}

\begin{equation}
Limite \space Superior = 18 
\end{equation}

\begin{equation}
\big[...\big]
\end{equation}
<br>
<br>
<img src =" https://maestrovirtuale.com/wp-content/uploads/2019/10/Regla-de-Sturges-2-e1525352158650.jpg"
align="right"> <br>Temos ent√£o ao lado uma tabela pra entender melhor o funcionamento. Agora  fica a d√∫vida de como fazer isso em programa√ß√£o

###AULA 03 - DESAFIO 01
> Criar uma tabela de frequ√™ncia para o peso seguindo a regra de Sturges.

Com base na resposta [aqui](https://pt.stackoverflow.com/questions/270580/como-fazer-uma-tabela-de-distribui%C3%A7%C3%A3o-de-frequ%C3%AAncia-em-python) temos:
<br>1 - Pegaremos nossa coluna `PESO`

In [103]:
dados['VB17003']

0        37.1
1        50.2
2        48.2
3        69.4
4        78.9
         ...
16551    56.7
16552    61.9
16553    60.9
16554    47.3
16555    62.6
Name: VB17003, Length: 16556, dtype: float64

Fazemos uma leitura de quantos dados tempos a respeito de peso. No caso, temos 16556 registros de peso

In [151]:
len(dados['VB17003'])

16556

Importamos a biblioteca Math do python, depois aplicamoms a f√≥rmula para calcular K que corresponde ao Intrrvalo da nossa amostra segundo regra de Sturges:
<br>

\begin{equation}
K = 1 + 3,322 \times \log_{10}({N})
\end{equation}

In [176]:
import math 
k = round(1 + 3.322 * math.log10(len(dados['VB17003'])))
k

15

Criamos uma nova coluna e aplicamos o pd.cut():
* Passamos a nossa Series Peso;
* Passamos a vari√°vel K, que contem o valor 15. Este valor corresponde ao Bins que aplicaremos nos dados. A cada 15 de n√∫meros, criamos um intervalo.
* Incluir include_lowest: Se o Primeiro Intervalo deve ser de esquerda ou n√£o.
* Passo minha fun√ß√£o para criar a coluna frequencia e porcentagem e adicionar os valores de Peso_Intervalo como meu index.

In [175]:
dados['PESO_INTERVALO'] = pd.cut(x=dados['VB17003'],
                                  bins = k,
                                  include_lowest=True)

tab_freq(dados['PESO_INTERVALO'],None,"Intervalo - PESO")

Intervalo - PESO  Frequencia  Percentual
(46.32, 57.7]           5754   34.754772
(34.94, 46.32]          3852   23.266489
(57.7, 69.08]           3724   22.493356
(69.08, 80.46]          1425    8.607151
(23.56, 34.94]           927    5.599179
(80.46, 91.84]           544    3.285818
(91.84, 103.22]          202    1.220101
(103.22, 114.6]           77    0.465088
(114.6, 125.98]           20    0.120802
(125.98, 137.36]          15    0.090602
(137.36, 148.74]           6    0.036241
(148.74, 160.12]           4    0.024160
(12.18, 23.56]             3    0.018120
(160.12, 171.5]            2    0.012080
(0.628, 12.18]             1    0.006040

###AULA 03 - DESAFIO 02

##AULA 4
---