<a href="https://colab.research.google.com/github/MatheusOrange211/Bootcamp-Alura/blob/main/Bootcamp_Alura_Data_Science_IBGE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ANALISANDO DADOS DO PenSE- IBGE

>estudando **ESTAT√çSTICA** e usando a **Pesquisa Nacional de Sa√∫de do Escolar** de **2015** dispon√≠vel no site do [IBGE](https://www.ibge.gov.br/estatisticas/downloads-estatisticas.html?caminho=pense/2015/microdados/)<br>

Autor: Matheus Naranjo Corr√™a

* [Linkedln](https://www.linkedin.com/in/matheus-naranjo-35ab22188/)
* [Github](https://github.com/MatheusOrange211)



**O que √© o PenSE 2015** ?
>Investiga informa√ß√µes que permitem conhecer e dimensionar os fatores de risco e prote√ß√£o √† sa√∫de dos adolescentes. A pesquisa √© realizada por amostragem, utilizando como refer√™ncia para sele√ß√£o o cadastro das escolas p√∫blicas e privadas do Instituto Nacional de Estudos e Pesquisas Educacionais An√≠sio Teixeira - INEP.  
<br>
A Pesquisa Nacional de Sa√∫de do Escolar - PeNSE teve in√≠cio em 2009, fruto de parceria com o Minist√©rio da Sa√∫de e apoio do Minist√©rio da Educa√ß√£o. Na primeira edi√ß√£o, os escolares do 9o ano do ensino fundamental (antiga 8a s√©rie) das escolas p√∫blicas e privadas dos Munic√≠pios das Capitais constitu√≠ram sua popula√ß√£o-alvo. A escolha do 9o ano do ensino fundamental, cabe destacar, teve como justificativa o m√≠nimo da escolariza√ß√£o necess√°ria para responder question√°rio autoaplic√°vel e tamb√©m a proximidade da idade de refer√™ncia preconizada pela Organiza√ß√£o Mundial da Sa√∫de - OMS (World Health Organization - WHO), que √© de 13 a 15 anos.<br>
Em 2012, embora mantida sua popula√ß√£o-alvo, a PeNSE passou a abarcar dados para o conjunto do Pa√≠s e as Grandes Regi√µes, e a investigar, tamb√©m, algumas caracter√≠sticas do ambiente escolar e do entorno. Na edi√ß√£o de 2015, importantes inova√ß√µes foram introduzidas na pesquisa, dentre as quais se destaca a disponibiliza√ß√£o de informa√ß√µes oriundas de dois planos amostrais distintos: escolares frequentando o 9o ano do ensino fundamental e escolares de 13 a 17 anos de idade frequentando as etapas do 6o ao 9o ano do ensino fundamental (antigas 5a a 8a s√©ries) e da 1a a 3a s√©rie do ensino m√©dio.
<br>Mais informa√ß√µes, clique [aqui](https://www.ibge.gov.br/estatisticas/sociais/educacao/9134-pesquisa-nacional-de-saude-do-escolar.html?=&t=o-que-e)

# MODULO 4 üìô
---
**AN√ÅLISE DESCRITIVA E TESTES ESTAT√çSTICOS**

## AULA 1 : Educa√ß√£o, Sa√∫de e Tipo de dados
---

> Importando bibliotecas e dados

In [1]:
import pandas as pd
from zipfile import ZipFile #usaremos esta lib para descompactar arquivos

diferente dos outros m√≥dulos onde a gente puxava os arquivos diretamente do nosso github ou mesmo diretamente de um arquivo csv, aqui, por conta do tamanho do nosso arquivo que √© maior que o limite de commits permitido pelo github(25 Mb), teremos que fazer o upload para nosso google drive, depois, iremos criar uma conex√£o do nosso Drive com o nosso Colab. Feito isso, copiamos o caminho. Agora, temos outro desafio, no arquivo est√° zipado, o que significa que um simples read_csv() n√£o funcionar√°. Precisamos ent√£o descompactar ele com o zipfile.

In [2]:
caminho = '/content/drive/MyDrive/bootcamp-modulo3/PeNSE_2015_AMOSTRA2.zip'
zip = ZipFile(caminho)

Precisamos ent√£o, antes de descompactar, saber o que temos no nosso .zip, afinal, com o que trabalharemos? que dados h√° ali dentro? que tipos de extens√µes? vamos ent√£o usar **ZipFile.namelist()** para descobrir isso!

In [3]:
zip.namelist()

['arquivos csv/',
 'arquivos csv/PENSE_AMOSTRA2_ALUNO.CSV',
 'arquivos csv/PENSE_AMOSTRA2_ALUNOESCOLA.CSV',
 'arquivos csv/PENSE_AMOSTRA2_ESCOLA.CSV',
 'arquivos sas/',
 'arquivos sas/pense_amostra2_aluno.sas7bdat',
 'arquivos sas/pense_amostra2_alunoescola.sas7bdat',
 'arquivos sas/pense_amostra2_escola.sas7bdat',
 'arquivos xlsx/',
 'arquivos xlsx/PENSE_AMOSTRA2_ALUNO.xlsx',
 'arquivos xlsx/PENSE_AMOSTRA2_ALUNOESCOLA.xlsx',
 'arquivos xlsx/PENSE_AMOSTRA2_ESCOLA.xlsx',
 'Dicionario_PENSE_Microdados_AMOSTRA2.xls']

Nos √© retornada uma lista de arquivos dos quais temos a nossa disposi√ß√£o. Agora, podemos finalmente usar o read_csv do pandas. Como temos uma lista a√≠, podemos pegar o elemento de indice [1] ou [2] e por ai vai.

In [4]:
caminho_pasta_zipada = zip.namelist()[1]

#zip.open abrir√° o caminho, que est√° na variavel, que contem o nome do arquivo e a extens√£o, que ser√° lido pelo pandas.
#passamos ent√£o nosso separador, footer e outras coisas que sejam necess√°rias para leitura completa
dados = pd.read_csv(zip.open(caminho_pasta_zipada),sep=';',thousands='.',decimal=',') 
dados.head()

   ANOPESQ  PAIS  REGEOGR  VB00004  VB01001  ...  V0008  V0041  aluno  escola  turma
0     2015    76        1        1        2  ...      4      1      1       1    296
1     2015    76        1        1        2  ...      4      1      2       1    296
2     2015    76        1        1        1  ...      4      1      3       1    296
3     2015    76        1        1        1  ...      4      1      4       1    296
4     2015    76        1        1        1  ...      4      1      5       1    296

[5 rows x 181 columns]

vejamos os tipos de dados que n√≥s temos em nosso dataset

In [5]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16556 entries, 0 to 16555
Columns: 181 entries, ANOPESQ to turma
dtypes: float64(10), int64(171)
memory usage: 22.9 MB

vamos ver mais de perto essas 3 colunas reconhecidas como `object`
**Nota**: Originalmente, tinhamos 3 colunas do tipo `objects`, contudo, adicionando o `thousands` e `decimal` para converter os valores para o padr√£o americano, essas infos s√£o modificadas para float.

In [6]:
# dados.select_dtypes(include='object')

### AULA 01 - DESAFIO 1
> Descompactar a pasta zipada usando outro m√©todo (Dica Allan, √© utilizar comandos Bash)

In [23]:
!ls /content/drive/MyDrive/bootcamp-modulo3  #me retorna o arquivo dentro do diret√≥rio que est√° zipado
! unzip /content/drive/MyDrive/bootcamp-modulo3/PeNSE_2015_AMOSTRA2.zip  #descompacta o arquivo

PeNSE_2015_AMOSTRA2.zip
Archive:  /content/drive/MyDrive/bootcamp-modulo3/PeNSE_2015_AMOSTRA2.zip
replace arquivos csv/PENSE_AMOSTRA2_ALUNO.CSV? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: arquivos csv/PENSE_AMOSTRA2_ALUNO.CSV
  inflating: arquivos csv/PENSE_AMOSTRA2_ALUNOESCOLA.CSV
  inflating: arquivos csv/PENSE_AMOSTRA2_ESCOLA.CSV
  inflating: arquivos sas/pense_amostra2_aluno.sas7bdat
  inflating: arquivos sas/pense_amostra2_alunoescola.sas7bdat
  inflating: arquivos sas/pense_amostra2_escola.sas7bdat
  inflating: arquivos xlsx/PENSE_AMOSTRA2_ALUNO.xlsx
  inflating: arquivos xlsx/PENSE_AMOSTRA2_ALUNOESCOLA.xlsx
  inflating: arquivos xlsx/PENSE_AMOSTRA2_ESCOLA.xlsx
  inflating: Dicionario_PENSE_Microdados_AMOSTRA2.xls

In [28]:
!ls arquivos\ csv #o contrabarra veio por conta do espa√ßo (?), alem disso !ls lista  o conteudo de dentro do diret√≥rio 'arquivos csv'

PENSE_AMOSTRA2_ALUNO.CSV	PENSE_AMOSTRA2_ESCOLA.CSV
PENSE_AMOSTRA2_ALUNOESCOLA.CSV

In [27]:
pd.read_csv('arquivos csv/PENSE_AMOSTRA2_ALUNO.CSV',sep=';') #passo o caminho e o nome do arquivo que desejo ler!

       ANOPESQ  PAIS  REGEOGR  VB00004  ...  V0041  aluno  escola  turma
0         2015    76        1        1  ...      1      1       1    296
1         2015    76        1        1  ...      1      2       1    296
2         2015    76        1        1  ...      1      3       1    296
3         2015    76        1        1  ...      1      4       1    296
4         2015    76        1        1  ...      1      5       1    296
...        ...   ...      ...      ...  ...    ...    ...     ...    ...
16551     2015    76        5        1  ...      1  16552     371    117
16552     2015    76        5        1  ...      1  16553     371    117
16553     2015    76        5        1  ...      1  16554     371    117
16554     2015    76        5        1  ...      1  16555     371    117
16555     2015    76        5        1  ...      1  16556     371    117

[16556 rows x 181 columns]

### AULA 01 - DESAFIO 02 
> Estudar sobre a base de dados que vamos trabalhar. (PeNSE - 2015 Amostra 2)

Temos algumas informa√ß√µes interessantes nos seguintes links que nos ajudar√£o a entender melhor o funcionamento n√£o s√≥ do dataset mas tamb√©m do pr√≥prio PenSE 2015:

* [O que √©?](https://www.ibge.gov.br/estatisticas/sociais/educacao/9134-pesquisa-nacional-de-saude-do-escolar.html?=&t=o-que-e)
* [V√≠deo explicando o PenSE 2015](https://www.youtube.com/watch?v=z4BBCHZUvD4)

###AULA 01 - DESAFIO 03
> Classificar algumas perguntas como QualitativaXQuantitativa

In [35]:
%%html
<img src='https://i.ytimg.com/vi/1zy6DTHQDzM/maxresdefault.jpg' width='800px' heigth='800px'/>

**QUALITATIVAS**
√© um tipo de m√©todo de investiga√ß√£o de base lingu√≠stico-semi√≥tica usada principalmente em ci√™ncias sociais.

**QUALITATIVAS NOMINAL** 
n√£o existe ordena√ß√£o dentre as *categorias*

In [46]:
dados[['REGEOGR','VB01001','VB01002','VB04009','VB04003','VB04002','VB11001']]

       REGEOGR  VB01001  VB01002  VB04009  VB04003  VB04002  VB11001
0            1        2        1       -1       -1       -1        1
1            1        2        1       -1       -1       -1        3
2            1        1        4       -1       -1       -1        3
3            1        1        1       -1       -1       -1        3
4            1        1        1       -1       -1       -1        4
...        ...      ...      ...      ...      ...      ...      ...
16551        5        2        4       -1       -1       -1        3
16552        5        1        1       -1       -1       -1        2
16553        5        1        4       -1       -1       -1        3
16554        5        1        4       -1       -1       -1        2
16555        5        1        2       -1       -1       -1        2

[16556 rows x 7 columns]

**QUALITATIVAS ORDINAL** 
existe ordena√ß√£o dentre as *categorias*

In [45]:
dados[['VB01003','VB01004','VB01005','VB01021','VB01022','VB03011A','VB03007']]

       VB01003  VB01004  VB01005  VB01021  VB01022  VB03011A  VB03007  VB11001
0           13        7        7        4        1         2        1        1
1           14        4        7        4        1         6        7        3
2           13        6        7        4        1         8        7        3
3           14        6        7        4        1         1       -1        3
4           13        9        7        4        1         2        5        4
...        ...      ...      ...      ...      ...       ...      ...      ...
16551       12        8        8        3        1         5        7        3
16552       15        7        5        3        1         5        7        2
16553       13       11        7        3        1         2       -1        3
16554       14        8        6        3        1         3        4        2
16555       15        4        6        3        1         7        7        2

[16556 rows x 8 columns]

**QUANTITATIVAS**
>√© a pesquisa cient√≠fica na qual os resultados podem ser quantificados, diferindo da pesquisa qualitativa. A pesquisa quantitativa recorre a linguagem matem√°tica para descrever as causas de um fen√¥meno, rela√ß√µes entre vari√°veis, entre outras aplica√ß√µes.

**DISCRETAS**  quando o conjunto de resultados poss√≠veis √© finito ou enumer√°vel. Exemplo: n√∫mero de filhos, alunos numa escola etc. Cont√≠nuas: quando os valores s√£o expressos como intervalo ou uni√£o de n√∫meros reais.

In [44]:
dados[['VB01003','VB01005','VB01010A']]

       VB01003  VB01005  VB01010A
0           13        7         3
1           14        7         3
2           13        7         5
3           14        7         4
4           13        7         4
...        ...      ...       ...
16551       12        8         5
16552       15        5         4
16553       13        7         4
16554       14        6         4
16555       15        6         5

[16556 rows x 3 columns]

**CONT√çNUA** quando os valores s√£o expressos como intervalo ou uni√£o de n√∫meros reais.

In [47]:
dados[['VB01003','VB01005','VB01010A','PESO']]

       VB01003  VB01005  VB01010A        PESO
0           13        7         3  299.735235
1           14        7         3  355.170081
2           13        7         5  299.735235
3           14        7         4  355.170081
4           13        7         4  299.735235
...        ...      ...       ...         ...
16551       12        8         5  447.815539
16552       15        5         4  592.507440
16553       13        7         4  401.131512
16554       14        6         4  442.718091
16555       15        6         5  592.507440

[16556 rows x 4 columns]